/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* == GENERAL STYLES == */
/* NAVIGATION */
body > header {
  display: inline-grid;
  background-color: #3e7ba2;
  color: white;
  text-align: center;
  line-height: 3em;
  margin: auto;
}

nav {
  margin: auto;
  padding: 1em;
}

nav > ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  margin: auto;
}

nav > ul li {
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.1em;
}

a[href^=http]:after {
  content: " \1F517"; /* Add link icon behind links */
}

.p-locality:before {
  content: "\1F4CD  ";
}

.p-tel:before {
  content: "\1F4DE  ";
}

.u-email:before {
  content: "\1F4E7  ";
}

/* MAIN */
main {
  display: flex;
}

/* HEADERS */
header {
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
}

header h1 {
  font-weight: 900;
  font-size: 1.5em; /* 24 / 16 = 1.5 */
}

header h2 {
  font-weight: 900;
  font-size: 1.375em; /* 22 / 16 = 1.375 */
}

header h3 {
  font-weight: 600;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
}

header h4 {
  font-weight: 600;
}


header > ul {
  display: flex;
  font-size: 0.9em;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: auto;
  list-style-type: none;
}

header > ul li {
  display: inline;
}

header > ul li:nth-child(1),
header > ul li:nth-child(3) {
  flex-basis: 100%;
}



/* SECTIONS */
section {
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1.25em; /* 20 / 16 = 1.25 */
}

/* CLASS-BASED */
.date {
  font-weight: lighter;
  font-style: italic;
}

/* ID-BASED */
main {
  color: #484850;
}

main .primary-section > header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-bottom: 0.1em solid #3e7ba2;
}

header h2 {
  color: #3e7ba2
}

main header h3,
main header ul,
main header h4 {
  color: black
}

#contact-info {
  order: 1;
}

#contact-info > ul {
  list-style-type: none;
}

/* OTHER */
body {
  font: 1em Saira, Arial, serif;
  background-color: #b6e3ff69;
}

ul {
  list-style-type: disc;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

li {
  display: list-item;
}

p, li {
  font-size: 0.875em; /* 14 / 16 = 0.875 */
  line-height: 1.14285714em; /* 16 * 1.14285714 = 18 */
  overflow-wrap: break-word;
}

footer {
  background-color: #3e7ba2;
  color: white;
  margin: auto;
  padding: 1em;
}

footer > ul {
  list-style-type: none;
}

main, 
#resume-body-main, 
#resume-body-other, 
#courses-main {
  margin-top: 0;
  margin-bottom: 0;
}

/* == RESUME STYLES == */
#resume-main {
  flex-direction: column;
}

/* == COURSEWORK STYLES == */
#courses-main {
  flex-direction: column;
}

/* == HOME STYLES == */
#home-main {
  margin: auto;
  flex-direction: column;
  text-align: center;
}

#about-me p {
  font-size: 1em;
}

figure {
  order: -1;
  margin: 1em;
}

img {
  max-width: 100%;
}


/* MEDIA QUERIES */
@media screen and (min-width: 430px){
  nav > ul {
    flex-direction: row;
  }

  header > ul li:nth-child(1) {
    flex-basis: auto;
  }

  header > ul li:nth-child(-2n + 4)::before {
    content: ", ";
  }
  
  .date {
    font-style: auto;
  }
}

@media screen and (min-width: 600px) {
  #resume-main {
    flex-direction: row;
  }

  #resume-body-main,
  #resume-body-other {
    width: 50vw
  }

  #resume-body-other {
    background-color: #3e7ba2;
    color: white;
  }
  #resume-body-other header h1,
  #resume-body-other header h2,
  #resume-body-other header h3,
  #resume-body-other header h4 {
    color: white;
  }
  
  #resume-body-other .primary-section > header {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid white;
  }

  #courses-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #contact-info {
    order: 0
  }
}

@media screen and (min-width: 1000px) {
  #courses-main { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}